body {
  padding-top: 4.5rem;
}

html,
body,
.container-fluid,
.row,
.col-md-7,
.col-lg-8,
#googleMap {
  height: 96%;
}

#googleMap {
  border-radius: 10px;
  box-shadow: -7px 7px 5px #aaaaaa;
}

.img-sm {
  height: 150px;
  width: 100%;
}