body {
  padding-top: 72px;
}

#googleMap {
  height: 100%;
  border-radius: 10px;
  box-shadow: -7px 7px 5px #aaaaaa;
}

html,
body,
.container,
.row {
  height: 96%;
}

.col-12 {
  height: 96%;
  > #googleMap {
    max-height: 700px;
  }
}

.img-sm {
  height: 150px;
  width: 100%;
}